<!-- 
  <footer class="site-footer">
    <div class="footer-content">
      <div class="social-links">
        <a href="#" target="_blank" aria-label="Facebook">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="https://www.instagram.com/prudhvirajupenumatsa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="#" target="_blank" aria-label="WhatsApp">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
        <a href="mailto:suryapranav200@gmail.com" aria-label="Email">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
      </div>
      <div class="footer-info">
        <p>&copy; 2024 Your Brand. All rights reserved.</p>
      </div>
    </div>
  </footer> -->